<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla|Source+Serif+Pro:600" rel="stylesheet">

font-family: 'Source Serif Pro', serif;
font-family: 'Karla', sans-serif;

html{margin: 0;padding: 0;}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Source Serif Pro', serif; "Tiempos Text";
	font-size: 40px;
	line-height: 1.5em;
	color: #2D459D;
	/*width: 600px;*/
}
h2 {
	font-family: 'Source Serif Pro', serif; "Tiempos Text";
	font-size: 30px;
	color: #2D459D;
	line-height: 1.5em;
	/*width: 600px;*/
}
h3 {
	font-family: 'Source Serif Pro', serif; "Tiempos Text";
	font-size: 20px;
	color: #2D459D;
	line-height: 1.5em;
	/*width: 600px;*/
}
h4 {
	font-family: 'Karla', sans-serif; "Apercu";
	font-size: 40px;
	font-weight: lighter;
	color: #DCEDF8;
	line-height: 2em;
	font-weight: 100;
}
h5 {
	font-family: 'Source Serif Pro', serif; "Tiempos Text";
	font-size: 100px;
	color: #2D459D;
}

h6 {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-size: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #2D459D;
}

p {
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 20px;
	font-weight: lighter;
	line-height: 2em;
	color: #2e3649;
}

ul {
	font-family: "Tiempos Text";
	color: #2e3649;
	font-size: 20px;
	width: 600px;
}

.logo {
	float: left;
	padding: 35px;
	padding-left: 100px;
}

.clearfix:after {
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

nav {
	display: block;
	overflow: hidden;
	background-color: #f6f6f6;
}

.nav-elements {
	padding-top: 25px;
	padding-right: 100px;
	float: right;
}

nav a {
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 18px;
	font-weight: lighter;
	line-height: 2em;
	color: #2D459D;
	text-decoration: none;
	padding: 1em;
}

header {
	background-color: #f6f6f6;
	color: #2D459D;
	padding: 20px;
}

.header-copy {
	display: inline-block;
	text-align: left;
	padding-top: 120px;
	padding-right: 70px;
	padding-left: 100px;
	max-width: 600px;
}

.header-copy a {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
	color: #2D459D;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2em;
}

.header-image {
	width: 200px;
	display: inline-block;
	padding-right: 100px;
}

.logo-parade {
	padding-left: 100px;
	color: #2D459D;
}

.logo-parade p {
	color: #2e3649;
}

.logo-parade img {
	padding-right: 75px;
	padding-bottom: 50px;
}

.multiple-ctas {
	display: inline-block;
	padding-bottom: 50px;
	text-transform: uppercase;
}

.wrapper {
	width: 980px;
	margin: auto;
}

#photo-collage {
	margin: 100px auto;
	/*padding-left: 250px;*/
}

#photo-collage img {
	padding: 10px;
	display: inline-block;
	vertical-align: top;

}

#features {
	padding: 20px;
	text-align: center;
}

.features-intro {
	display: inline-block;
	width: 600px;
}

.one-on-one-lessons {
	padding: 20px;
	display: inline-block;
	width: 300px;
}

.essential-workplace-skills {
	padding: 20px;
	display: inline-block;
	width: 300px;
}

.easy-to-use-platform {
	padding: 20px;
	display: inline-block;
	width: 300px;
}

.multiple-ctas a {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
	color: #2D459D;
	text-decoration: none;
	padding: 2em;
}

#pull-quote-1 {
	background-color: #2D459D;
	padding: 100px;
	text-align: center;
}

#pull-quote-1 h4 {
	width: 60%;
	margin: auto;
	color: #DCEDF8;
	padding-top: 50px;
}

#pull-quote-1 hr {
	height: 4px;
	color: #DCEDF8;
	width: 100px;
	margin: auto;
}

#pull-quote-1 h3 {
	color: #DCEDF8;
	margin-bottom: 70px;
}

.testimonials-wrapper {
	width: 70%;
	margin: auto;
}
/*#testimonials-intro {
	/*background-color: #FFE2B8;
	border: 1px black solid;*/
	/*padding: 20px;
}*/

.testimonials-image {
	width: 200px;
	display: inline-block;
	padding-left: 100px;
	padding-right: 400px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.testimonials-copy {
	display: inline-block;
	width: 600px;
	padding-top: 170px;
}

.testimonials-copy a {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
	color: #2D459D;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2em;
}

#pull-quote-2 {
	background-color: #2D459D;
	padding: 100px;
	text-align: center;
}

#pull-quote-2 hr {
	height: 4px;
	color: #DCEDF8;
	width: 100px;
	margin: auto;
}

#pull-quote-2 h4 {
	width: 60%;
	margin: auto;
	padding-top: 50px;
}

#pull-quote-2 h3 {
	color: #DCEDF8;
	padding-bottom: 70px;
}

#pull-quote-3 {
	padding: 20px;
	background-color: #DCEDF8;
	text-align: center;
	padding: 100px;
	margin: auto;
	/*width: 56%;*/
}

#pull-quote-3 h4 {
	color: #2D459D;
	width: 60%;
	text-align: center;
	margin: auto;
	padding-top: 50px;
}

#pull-quote-3 h3 {
	margin-bottom: 70px;
}

#pull-quote-3 hr {
	height: 4px;
	color: #2D459D;
	width: 100px;
	margin: auto;
}

#survey-results {
	padding-top: 50px;
	padding-bottom: 50px;
}

.survey-results-intro {
	text-align: center;
}

.stats {
	padding-left: 175px;
}

.impact-on-soft-skills {
	padding: 20px;
	display: inline-block;
	width: 300px;
	text-align: center;
}

.enjoy-work-more {
	padding: 20px;
	display: inline-block;
	width: 300px;
	text-align: center;
}

.improvement-in-direct-reports {
	padding: 20px;
	display: inline-block;
	width: 300px;
	text-align: center;
}

#get-a-trial-form {
	background-color: #f6f6f6;
	/*padding: 20px;*/
	padding-top: 50px;

}

.trial-form-intro {
	text-align: center;
	width: 45%;
	/*padding-left: 400px;*/
	margin: auto;
}

.form-fields-wrapper {
	width: 60%;
	margin: auto;
}

.trial-form-column-1 {
	display: inline-block;
	padding-left: 300px;
}

.trial-form-column-2 {
	display: inline-block;
	padding-left: 300px;
}

.trial-cta {
	padding-bottom: 50px;
	/*padding-left: 650px;*/
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	padding-bottom: 100px;
}

.trial-cta a {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
	color: #2D459D;
	text-decoration: none;
	padding: 2em;
}

.newsletter-wrapper {
	width: 70%;
	margin: auto;
}

.newsletter-image {
	width: 300px;
	display: inline-block;
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.newsletter-copy {
	display: inline-block;
	width: 600px;
	/*padding-left: 300px;*/
	padding-top: 150px;
}

.newsletter-copy a {
	font-family: 'Karla'; sans-serif; "Apercu";
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
	color: #2D459D;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2em;
}

#newsletter-sign-up {
	padding: 20px;
}

div {
	vertical-align: top;
}

footer {
	background-color: #f6f6f6;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.social-icons img {
	padding-right: 5px;
	padding-bottom: 20px;
	width: 40px;
}

.footer-column-1 h2 {
	line-height: .25em;
}

.footer-column-2 h2 {
	line-height: .25em;
}

.footer-column-1 {
	display: inline-block;
	width: 400px;
}

.footer-column-2 {
	display: inline-block;
	width: 400px;
}

.footer-column-3 h2 {
	line-height: .25em;
}

.footer-column-2 a {
	display: block;
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 20px;
	font-weight: lighter;
	line-height: 2em;
	color: #2e3649;
	text-decoration: none;
}

.footer-column-3 {
	display: inline-block;
	width: 400px;
}

.footer-column-3 a {
	display: block;
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 20px;
	font-weight: lighter;
	line-height: 2em;
	color: #2e3649;
	text-decoration: none;
}

.inline-block {
	display: inline-block;
}