<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla|Source+Serif+Pro:600" rel="stylesheet">

font-family: 'Source Serif Pro', serif;
font-family: 'Karla', sans-serif;

html{margin: 0;padding: 0;}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Karla', sans-serif, Apercu;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.75em;
	color: #2e3649;
}

h1 {
	font-family: 'Source Serif Pro', serif; "Tiempos Text";
	font-size: 2.5em;
	line-height: 1.25em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #2D459D;
}

h2 {
	font-family: 'Source Serif Pro', serif, "Tiempos Text";
	font-size: 2em;
	color: #2D459D;
	padding-top: 1em;
	padding-bottom: .5em;
	line-height: 1em;
}

h3 {
	font-family: 'Source Serif Pro', serif, "Tiempos Text";
	font-size: 1.25em;
	color: #2D459D;
	line-height: 1.25em;
	padding-top: 1em;
}

h4 {
	font-family: 'Karla', sans-serif, "Apercu";
	font-size: 2.5em;
	font-weight: lighter;
	color: #DCEDF8;
	line-height: 2em;
	font-weight: 100;
}

h5 {
	font-family: 'Source Serif Pro', serif, "Tiempos Text";
	font-size: 5em;
	line-height: 1em;
	color: #2D459D;
	margin: 0;
}

h6 {
	font-family: 'Karla', sans-serif, "Apercu";
	font-size: 1em;
	font-weight: lighter;
	letter-spacing: .1em;
	padding-top: 1em;
	padding-bottom: 2em;
	text-transform: uppercase;
	color: #2D459D;
}

img {
	max-width: 100%;
	box-sizing: content-box;
}

.image-swap > .show-on-hover {
	display: none;
}

.image-swap:hover > .show-on-hover {
	display: inline-block;
}

.image-swap:hover > .hide-on-hover {
	display: none;
}

#toggle {
	display: none;
}

.wrap {
	max-width: 1400px;
	margin: 0 auto;
}

.footer-wrap {
	max-width: 1000px;
	margin: 0 auto;
}

.wrap-md {
	max-width: 1200px;
	margin: 0 auto;
}

.vertical-wrap {
	padding: 5% 0;
}

.flex-columns-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.impact-on-soft-skills {
	position: relative;
	margin-bottom: 2em;
}

.impact-on-soft-skills h5 {
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translateX(-50%);
}

.impact-on-soft-skills img {
	padding-bottom: 1em;
}

.enjoy-work-more {
	position: relative;
	margin-bottom: 2em;
}

.enjoy-work-more h5 {
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translateX(-50%);
}

.enjoy-work-more img {
	padding-bottom: 1em;
}

.improvement-in-direct-reports {
	position: relative;
	margin-bottom: 1em;
}

.improvement-in-direct-reports h5 {
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translateX(-50%);
}

.improvement-in-direct-reports img {
	padding-bottom: 1em;
}

@media screen and (min-width: 1024px) {

	.flex-columns {
		display: flex;
	    align-items: center;
	    flex-direction: row;
	}	

	.flex-columns > div {
		flex: 1;
		box-sizing: border-box;
	}

	.flex-columns-2 {
	display: flex;
    align-items: top;
	}

	.flex-columns-2 > div {
	flex: 1;
	box-sizing: border-box;
	}
}

.two-column-layout > div {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}

@media screen and (min-width: 1400px) {

	.three-column-layout > div {
		display: inline-block;
		width: 33.33%;
		box-sizing: border-box;
		vertical-align: top;
	}

}

.padding-left {
	padding-left: 8em;
}

.padding-right {
	padding-right: 5em;
}

.padding-top {
	padding-top: 1em;
}

.padding-horizontal {
	padding-left: 1em;
	padding-right: 1em;
}

.padding-bottom {
	padding-bottom: 2em;
}

.image {
	width: 100%;
	height: auto;
}

.logo {
	float: left;
/*	padding-top: 3em;
	padding-left: 5em;*/
}

.clearfix:after {
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

nav {
	display: block;
	overflow: hidden;
	background-color: #f6f6f6;
	padding: 2em;
}

.nav-elements {
	/*margin: 3em 8em;*/
	float: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition:opacity ease-in-out 0%;
}

nav a {
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 1em;
	font-weight: lighter;
	line-height: 2em;
	color: #2D459D;
	text-decoration: none;
	margin: 0;
	padding-bottom: 5px;
}

label {
	font-family: 'Karla', sans-serif; Apercu;
	font-size: 1em;
	font-weight: lighter;
	line-height: 2em;
	color: #2D459D;
	text-decoration: none;
	margin: 1em;
	padding-bottom: 5px;
	text-transform: uppercase;
	display: none;
}

.nav-elements li {
	display: inline-block;
	/*float: right;*/
	margin-left: 2em;
}

.nav-elements a:hover {
	border-bottom: 1px solid #000;
	opacity: 1;
}


header {
	background-color: #f6f6f6;
	color: #2D459D;
	padding: 3% 0;
}

.btn {
    font-family: 'Karla', sans-serif, "Apercu";
    font-weight: 800;
    font-size: 1em;
    letter-spacing: .1em;
    color: #2D459D;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2.25em;
    margin-top: 2em;
    margin-bottom: 1em;
    border: 2px solid;
    border-radius: 60px;
    display: inline-block;
}

.btn:hover {
	color: #f6f6f6;
	background-color: #2D459D;
	border-color: #2D459D;
}

.header-copy {
	padding-right: 5em;
}

.header-image {
	display: inline-block;
	width: 20%;
	padding-right: 5%;
}

.logo-headline {
	padding-top: 2em;
	line-height: 1.5em;
}

.logo-parade h6 {
	text-align: left;
	color: #2D4559D;
}

.logo-parade img {
	padding-right: 5%;
	padding-bottom: 5%;
}

.display-none {
	display: none;
}

@media screen and (min-width: 1024px) {

	.display-none {
		display: inline-block;
	}

}

.multiple-ctas {
	display: inline-block;
	padding-bottom: 5%;
	text-transform: uppercase;
}

.wrapper {
	width: 980px;
	margin: auto;
}

#photo-collage img {
	padding: 10px;
}

#photo-collage > div {
	display: inline-block;
}

#features {
	text-align: center;
}

.features-intro {
	display: inline-block;
	width: 50%;
}

.features-wrap {
	width: 60%;
	margin: auto;
}

.features-vertical-wrap {
	padding: 2% 0;
}

.multiple-ctas {
	padding-top: 0;
}

#pull-quote-1 {
	background-color: #2D459D;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
}

#pull-quote-1 h4 {
	width: 70%;
	margin: auto;
	color: #DCEDF8;
	padding-top: 1em;
}

#pull-quote-1 hr {
	height: .2em;
	background-color: #DCEDF8;
	width: 6%;
	margin: auto;
}

#pull-quote-1 h3 {
	color: #DCEDF8;
	margin-bottom: 3em;
}

.testimonials-copy {
	padding-top: 1em;
	padding-right: 5em;
}

#pull-quote-2 {
	background-color: #2D459D;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
}

#pull-quote-2 hr {
	height: .2em;
	background-color: #DCEDF8;
	width: 6%;
	margin: auto;
}

#pull-quote-2 h4 {
	width: 70%;
	margin: auto;
	padding-top: 1em;
}

#pull-quote-2 h3 {
	color: #DCEDF8;
	margin-bottom: 3em;
}

#pull-quote-3 {
	background-color: #DCEDF8;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	margin: auto;
}

#pull-quote-3 h4 {
	color: #2D459D;
	width: 70%;
	text-align: center;
	margin: auto;
	padding-top: 1em;
}

#pull-quote-3 h3 {
	margin-bottom: 3em;
}

#pull-quote-3 hr {
	height: .3em;
	background-color: #2D459D;
	width: 6%;
	margin: auto;
}

#survey-results {
	padding-top: 3em;
	padding-bottom: 4em;
}

#survey-results h2 {
	padding-top: 0;
	margin: 0;
	padding-bottom: 1em;
	line-height: 1.25em;
}

#survey-results p {
	line-height: 1.5em;
}

.survey-results-intro {
	text-align: center;
}

/*.survey-results-intro h2 {
	padding-top: 1em;
}*/

.stats-wrapper {
	width: 80%;
	margin: auto;
	text-align: center;
}

.stats-wrapper > div {
	padding: 0 1%;
}

#get-a-trial-form {
	background-color: #f6f6f6;
	padding-top: 1em;
	padding-bottom: 2em;

}

.trial-form-intro {
	text-align: center;
	width: 60%;
	margin: auto;
	padding-bottom: 2em;
}

.form-fields-wrapper {
	max-width: 750px;
	margin: auto;
}

.trial-cta {
	padding-bottom: 5%;
	text-align: center;
	margin: auto;
}

.newsletter-image img {
	width: 100%;
}

.newsletter-copy p {
	padding-bottom: .5em;
}


div {
	vertical-align: top;
}

.social-icons img {
	padding-right: .5%;
	padding-top: 5em;
	width: 4%;
}

footer {
	background-color: #f6f6f6;
	padding-bottom: 5em;
}

.footer-column-1 p {
	padding-bottom: .5em;
}

footer a {
	display: block;
	font-family: 'Karla', sans-serif, Apercu;
	font-size: 20px;
	font-weight: lighter;
	line-height: 2em;
	color: #2e3649;
	text-decoration: none;
}

a, button, input, textarea, select {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

@media only screen and (max-width: 1700px) {
/*	.logo {
		padding-left: 5em;
	}*/
	.header-copy {
		padding-left: 5em;
		padding-right: 5em;
	}
	.logo-parade {
		padding-left: 5em;
		}
}


@media only screen and (max-width: 1310px) {

	.nav-elements {
		display: none;
	}

	#menu-label {
		display: block;
		text-align: right;
		background-color: #f6f6f6;
		margin: 0;
	}

	#toggle:checked + nav > .nav-elements {
		display: block;
	}

	.nav-elements {
		margin: 2em;
	}

	.nav-elements li {
		display: block;
		text-align: right;
		margin-left: 0;
		margin-right: 0;
		margin-top: 1em;
		padding-left: 0;s
	}

	.header-copy {
		display: block;
	}
	.image {
		display: block;
	}
}


@media only screen and (max-width: 480px) {

	#menu-label {
		display: block;
		text-align: right;
		background-color: #f6f6f6;
	}

	header {
		padding-top: 0;
	}

	.flex-columns {
	    align-items: top;
	}

	.vertical-wrap {
		padding-top: 0;
	}

	.logo-headline {
		padding-top: 0;
	}

	.logo-parade {
		padding: 0 2em;
	}

	.wrapper {
		width: 100%;
	}

	#hero-image {
		padding: 0;
	}

	.header-copy {
		padding: 1em 3em;
		display: block;
	}

	header h6 {
		padding-left: 1em;
	}

	.image {
		display: block;
	}

	.features-intro {
		width: 80%;
		text-align: center;
		margin: 0;
		padding-bottom: 1em;
	}

	.logo-parade img {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	h4 {
		font-size: 24px;
	}

	#pull-quote-1 h4 {
		width: 80%;
		padding-top: 1em;
	}

	#pull-quote-1 hr {
		height: .2em;
		width: 20%;
		margin: 0 auto;
	}

	#pull-quote-1 h3 {
		margin-bottom: 2em;
	}

	#pull-quote-2 h3 {
		margin-bottom: 2em;
	}

	.testimonials-copy {
		width: 80%;
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
		margin: auto;
	}

	#pull-quote-2 h4 {
		width: 80%;
		padding-top: 1em;
		margin: auto;
	}

	#pull-quote-2 hr {
	height: .2em;
	width: 20%;
	margin: 0 auto;
	}

	#pull-quote-3 h4 {
		width: 80%;
		padding-top: 1em;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#pull-quote-3 hr {
	height: .2em;
	width: 20%;
	margin: 0 auto;
	}

	#pull-quote-3 h3 {
	padding-bottom: 0;
	margin-bottom: 2em;
	}

	.multiple-ctas {
		padding-bottom: 2em;
	}
	
	.multiple-ctas .btn {
		margin-top: 0;
	}

	#survey-results {
		padding-top: 1em;
		padding-bottom: 2em;
	}

	.survey-results-intro {
		margin-bottom: 1em;
	}

	.newsletter-image {
		width: 100%;
	}

	.trial-form-intro {
		margin-left: 2em;
		width: 80%;
		text-align: left;
	}

	.trial-form-column-1 {
		margin-left: 2em;
	}

	.trial-form-column-2 {
		margin-left: 2em;
	}

	#survey-results {
		padding-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 3em;
	}

	#survey-results h2 {
		padding-bottom: .5em;
		margin-bottom: 0;
	}

	.trial-form-intro {
		padding-bottom: 1em;
	}

	#get-a-trial-form {
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
	}

	.trial-cta {
		text-align: left;
		padding-left: 2em;
	}

	.newsletter-copy {
		padding-left: 3em;
		padding-right: 2em;
		margin: auto;
		margin-bottom: 2em;
	}

	.social-icons {
		width: 200%;
	}

	footer {
		padding-left: 3em;
		padding-bottom: 5em;
		display: block;
	}

	#photo-collage img {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	#photo-collage {
		padding: 0;
		margin: 0;
	}

	.testimonials-copy {
		width: 100%;
		padding-left: 3em;
		padding-right: 3em;
		margin: 0;
	}

	.nav-elements {
		margin: 0;
		padding: 0;
	}

	nav {
		padding-bottom: 1.5em;
	}

	.nav-elements li {
		display: block;
		text-align: right;
		padding-right: 0;
		padding-bottom: 2px;
		margin-left: 2em;
	}
}
