body {
text-align: center;
background: url("images/NatalyaHirth.jpg");
background-size: cover;
}
h1 {font-family: "Tiempos Text";
font-size: 40px;
color: #7b7478;}
p {font-family: Apercu;
font-size: 20px;
color: #2e3649}
ul {font-family: "Tiempos Text";
color: #2e3649;
font-size: 20px;}
a {color: #7b7478;}
li
img