body {
text-align: center;
background: url("images/Natalya-Krimgold.jpg");
background-size: cover;
color: #7b7478;
}
h1 {font-family: "Tiempos Text";}
p {font-family: Apercu;}
ul {font-family: "Tiempos Text";
color: #2e3649;}
a {color: #7b7478;}
li
img